@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  margin: 0px;
}

.projects{
  padding:30px;
  text-align:left;
}

.fab{
  color:black;
}

h1{
  letter-spacing: 1px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav.ul li {
  float: none;
}

nav ul li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
}

nav a:hover, a:focus {
  text-decoration:none;
  color: #76b4ce;
  background: #e6f2ff;
}

header h1{
  font-size:40px;
  font-weight:700;
  color: #3f4a50;
  margin-bottom:40px;
}

header p{
  font-size:25px;
  font-weight:100;
  color: #828f96;
}

.side ul{
  font-size:20px;
}

.side ul li{
  list-style-type: none;
  float:left;
  margin: 0;
  padding: 0;
}

.side a{
  text-decoration:none;
  color:black;
}

.side a:hover, a:focus {
  text-decoration:none;
  color: #76b4ce;
}

.content p{
  font-size:20px;
}

.avatar{
  margin-top:15px;
  padding:10px;
  background-color:white;
  border:1px solid  #c1cacf;
}

.head {
  grid-area: header;
  background-color:#f0f0f5;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #a4b4bd;
  text-align:center;
  margin-bottom:30px;
}
.content {
  grid-area: content;
  padding-left:40px;
}
.nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
  padding-left:30px;
}
.footer {
  grid-area: footer;
}
.projects{
  grid-area:projects;
}

.wrapper {
  font-family: merriweather, sans-serif;
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "sidebar"
    "projects"
    "footer";
}

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "nav      nav      nav"
      "header   header   header"
      ".        content  sidebar"
      "projects projects projects"
      "footer   footer   footer";
  }
  ul li {
    float: right;
  }
  ul li.left {
    float: left;
  }
  .side{
    padding-left:0px;
  }
  .projects{
     text-align:center;
  }
  .projects .card{
    display:inline-block;
    margin-left:50px;
    max-width:250px;
  }
}