* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*Max window of 1024px, 0 margin, sans seriff font*/
.container {
  max-width: 1024px;
  font-family: merriweather, sans-serif;
}

/*All children have borders*/
.container > * {
  border: 1px solid grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: none;
}

ul li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  letter-spacing: 2px;
  border: 1px solid grey;
  color: black;
}

a:hover,
a:focus {
  color: #76b4ce;
  background: #e6f2ff;
}

.head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav     nav"
      "header  header"
      "content sidebar"
      "footer  footer";
  }
  ul li {
    float: right;
  }
  ul li.left {
    float: left;
  }
}